.navbar-nav li a {
    color: lightcoral;
    font-size:16px;
}

body {
    display: block;
    background-color: #171717;
}

.slider_item {
    margin-top:1px;
    max-height:290px;
    width:auto;
}

.popular_updated {
    max-height:200px;
    width:auto;
    margin:0;
    padding:0;
}

.h5 {
    padding-bottom:10px;
}

.new_updated {
    max-height:190px;
    width:auto;
}

.popular {
    max-height: 140px;
    width: auto;
}


.slick-list {
    overflow: hidden;
}

.slick-track {
    display:flex;
    align-items:flex-start;
}

.item_text div {
    padding:0;
}

a {
    text-decoration:none;
}