@using MangaTM.Models
@{
    ViewData["Title"] = "MangaTM";
    var model1 = Model;
}
@foreach (var item in ViewBag.MangaName)
{
    <p>@item</p>
}
<div class="slider my-2 py-1 bg-dark" data-slick='{"slidesToShow": 8, "slidesToScroll": 4}'>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8 left">
            <div class="bg-dark p-3 rounded-2 my-3">
                <h5 class="h5 text-white">Обновление популярной манги</h5>
                <div class="row row-cols-6">
                    <div class="col">
                        <a href="#">
                            <img class="popular_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
                            <div class="row item_text mx-1 my-1">
                                <div class="row text-white">Jujutsu Kaisen</div>
                                <div class="row text-white">Том 1 Глава 1</div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img class="popular_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
                            <div class="row item_text mx-1 my-1">
                                <div class="row text-white text-center">Jujutsu Kaisen</div>
                                <div class="row text-white text-center">Том 1 Глава 1</div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img class="popular_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
                            <div class="row item_text mx-1 my-1">
                                <div class="row text-white text-center">Jujutsu Kaisen</div>
                                <div class="row text-white text-center">Том 1 Глава 1</div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img class="popular_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
                            <div class="row item_text mx-1 my-1">
                                <div class="row text-white text-center">Jujutsu Kaisen</div>
                                <div class="row text-white text-center">Том 1 Глава 1</div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img class="popular_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
                            <div class="row item_text mx-1 my-1">
                                <div class="row text-white text-center">Jujutsu Kaisen</div>
                                <div class="row text-white text-center">Том 1 Глава 1</div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <img class="popular_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
                            <div class="row item_text mx-1 my-1">
                                <div class="row text-white text-center">Jujutsu Kaisen</div>
                                <div class="row text-white text-center">Том 1 Глава 1</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bg-dark p-3 rounded-2 my-3">
                <h5 class="h5 text-white">Новые главы</h5>
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-2">
                        <a href="#"><img class="new_updated rounded-3 img-fluid" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large"></a>
                    </div>
                    <div class="col-10" style="font-size:20px;">
                        <a href="#"><div class="row text-white">Jujutsu Kaisen</div></a>
                        <div class="row text-white">Том 1 Глава 1</div>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">5 минут назад</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 right">
            <div class="bg-dark p-3 rounded-2 my-3">
                <h5 class="h5 text-white">Популярная манга</h5>
                <div class="row updates_item py-1">
                    <div class="col-3">
                        <a href="#"><img class="popular rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg"></a>
                    </div>
                    <div class="col-9" style="font-size:20px; padding-top:7%;">
                        <a href="#"><div class="row text-white">OnePunchMan</div></a>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">2012</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-3">
                        <a href="#"><img class="popular rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg"></a>
                    </div>
                    <div class="col-9" style="font-size:20px; padding-top:7%;">
                        <a href="#"><div class="row text-white">OnePunchMan</div></a>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">2012</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-3">
                        <a href="#"><img class="popular rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg"></a>
                    </div>
                    <div class="col-9" style="font-size:20px; padding-top:7%;">
                        <a href="#"><div class="row text-white">OnePunchMan</div></a>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">2012</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-3">
                        <a href="#"><img class="popular rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg"></a>
                    </div>
                    <div class="col-9" style="font-size:20px; padding-top:7%;">
                        <a href="#"><div class="row text-white">OnePunchMan</div></a>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">2012</div>
                    </div>
                </div>
            </div>
            <div class="bg-dark p-3 rounded-2 my-3">
                <h5 class="h5 text-white">Новая манга</h5>
                <div class="row updates_item py-1">
                    <div class="col-3">
                        <a href="#"><img class="popular rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg"></a>
                    </div>
                    <div class="col-9" style="font-size:20px; padding-top:7%;">
                        <a href="#"><div class="row text-white">OnePunchMan</div></a>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">2012</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-3">
                        <a href="#"><img class="popular rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg"></a>
                    </div>
                    <div class="col-9" style="font-size:20px; padding-top:7%;">
                        <a href="#"><div class="row text-white">OnePunchMan</div></a>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">2012</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-3">
                        <a href="#"><img class="popular rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg"></a>
                    </div>
                    <div class="col-9" style="font-size:20px; padding-top:7%;">
                        <a href="#"><div class="row text-white">OnePunchMan</div></a>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">2012</div>
                    </div>
                </div>
                <hr class="solid p-0 m-0" style="border-top:3px solid; color:white;">
                <div class="row updates_item py-1">
                    <div class="col-3">
                        <a href="#"><img class="popular rounded-3 img-fluid" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg"></a>
                    </div>
                    <div class="col-9" style="font-size:20px; padding-top:7%;">
                        <a href="#"><div class="row text-white">OnePunchMan</div></a>
                        <div class="row text-white" style="font-size:12px; opacity:0.7;">2012</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>