@{
    ViewData["Title"] = "MangaTM";
}
<div class="slider my-2 py-1 bg-dark" data-slick='{"slidesToShow": 8, "slidesToScroll": 4}'>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/Ebh4ffJVAAYjWn_?format=jpg&name=large">
          <div class="row item_text mx-2 my-2">
              <div class="col-8 text-white text-left">Jujutsu Kaisen</div>
              <div class="col-4 text-white text-end">220K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
          </div>
      </a>
  </div>
  <div>
      <a href="#">
          <img class="slider_item rounded-3" src="https://pbs.twimg.com/media/CiFYRtfXEAAKZVB.jpg">
        <div class="row item_text mx-2 my-2">
          <div class="col-8 text-white text-left">OnePunchMan</div>
          <div class="col-4 text-white text-end">240K <i class="fa fa-heart-o" aria-hidden="true"></i></div>
        </div>
      </a>
  </div>
</div>